<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
    </head>
    <body>
        <header>
            <span>Perseus Catalog, experimental version</span>
        </header>
        <hr/>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="authors.html">Authors</a>
                </li>
                <li>
                    <a href="works.html">Works</a>
                </li>
                <li>
                    <a href="textgroups.html">Text Groups</a>
                </li>
                <li>
                    <a href="versions.html">Versions</a>
                </li>
                <li>Indexes <span class="caret"/>
                    <div>
                        <ul>
                            <li>
                                <a href="activity-index.html">Activities</a>
                            </li>
                            <li>
                                <a href="subject-index.html">Subjects</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </nav>
        <main id="content"/>
        <hr/>
        <footer>
            <span>Footer material</span>
        </footer>
    </body>
</html>